<!doctype html>
<html lang="ru">
<%- include('partials/header.ejs') %>
<body>
	<div class="container">
		<h1>Welcome on <%- title %>!</h1>
	</div>
<%- include('partials/footer.ejs') %>
</body>
</html>